@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.centerish {
  margin: 0 auto; /* Added */ 
}

.noPadding {
  margin: 5px 0px 5px 0px !important;
  padding: 0 !important;
}

.row_uf {
  margin: 0px 0px 0px 0px;
  text-align: center;
}

.btn:active {
  background-color: red
}

.flipuf {
  transform: rotateY(180deg);
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}